header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1.25rem;
  }
  
  .header__left{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .header__right{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .header__nav{
    color: var(--offwhite);
    font-weight: 600;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.01em;
  }

  .header__nav:hover{
    color: var(--silverback);
  }

  .header__nav--active{
    border-bottom: 2px solid var(--offwhite);
  }

  .header__button{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  } 
