/* ======================================
   IMPORTS
  ====================================== */
@import "css/utilities.css";
@import "css/home.css";
@import "css/webservices.css";
@import "css/research.css";
@import "css/dossier.css";
@import "css/sections.css";
@import "css/footer.css";

/* ======================================
   RESET & BASE STYLES
  ====================================== */
*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Lato", sans-serif;
   background-color: var(--mosswash);
   color: var(--nero);
}

/* ======================================
   CSS VARIABLES
  ====================================== */
:root {
   /* Color Tokens */
  --nero: #353535;
  --nero-light: #464646;
  --silverback: #afafaa;
  --mosswash: #f3f2e5;
  --offwhite: #f0eedc;
  --pattens: #cfe2f3;
  --mutedpattens: #e4f5ff;
  --gray: #717171;
  --cadet: #8ea3af;

  --blue-sour: #1e6c93;

  --camel: #8f6448;
  --walnut: #644332;
  --appleseed: #a67c52;
  --collard: #8b6500;

  --red: #a32023;
  --terracottaroof: #a34547;
  --Kuwazome: #532728;

  --yellow: #d89c1f;
  --leather: #c8a255;
  --riverpanned: #ac7e1e;

  --green: #115f45;
  --verdant: #364640;
  --camo: #7c8f4b;
  --unakite: #71a34b;

  --blue: #1d3a65;
  --incremental: #113056;
  --kakitsubata: #3d67a5;

  --purple: #3f1f4a;
  --royale: #490072;
  --lilac: #7b4b8c;
  --portage: #8f86d8;

   /* Sizing Variables */
   --space-2xs: 0.25rem;
   --space-xs: 0.5rem;
   --space-sm: 0.75rem;
   --space-md: 1rem;
   --space-lg: 1.5rem;
   --space-xl: 2rem;
   --target-gap: 2rem;
   --target-padding: var(--space-md);
   --target-max-width: 90%;
   --target-card-max-width: 33.333%;
}

/* ======================================
   LAYOUT ELEMENTS
  ====================================== */
main {
   width: min(1200px, 100%);
   margin: 0 auto;
   padding: var(--space-lg) var(--space-md) calc(var(--space-xl) + var(--space-sm));
   display: flex;
   flex-direction: column;
   gap: var(--space-lg);
   background-color: var(--mosswash);
}

/* ======================================
   TYPOGRAPHY
  ====================================== */
h1 {
   color: var(--nero);
}

p {
   color: var(--nero);
}

a {
   color: inherit;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

/* ======================================
   IMAGES
  ====================================== */
img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   display: block;
}
