@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "css/page-base.css";
@import "css/header.css";
@import "css/hero.css";
@import "css/target.css";
@import "css/process.css";
@import "css/personnel.css";
@import "css/technology.css";
@import "css/footer.css";
@import "css/services.css";
@import "css/research.css";
@import "css/markets.css";
@import "css/table.css";
